<div class="hero">
	<div class="hero-inner">
		<div class="hero-copy">
			<!-- <h1>Roomi</h1> -->
			<p>This roomie always helps around the house.</p>	
		</div>
    <!-- <button><%= link_to 'Get Started', signup_path %></button> -->
    <%= button_to "Get Started", signup_path, :method => "get" %>
	</div>
</div>

<div class="container">
	<ul class="bullets">
	  <li class="bullet three-col-bullet">
	    <div class="bullet-icon bullet-icon-3">
	      <img src="http://i.imgur.com/XRAEIma.png" alt="">
	    </div>
	    <div class="bullet-content">
	      <h2>Pay Your Bills</h2>
	      <p>Pay your house expenses through one simple interface. Autopayments make settling your accounts a snap.</p>
	      </div>
	  </li>  
	  <li class="bullet three-col-bullet">
	    <div class="bullet-icon bullet-icon-2">
	      <img src="http://i.imgur.com/vguEspu.png" alt="">
	    </div>
	    <div class="bullet-content">
	      <h2>Track Expenses</h2>
	      <p>Keep all of your home bills and expenses in one place. Easily track your spending habits over time.</p>
	    </div>
	  </li>
	  <li class="bullet three-col-bullet">
	    <div class="bullet-icon bullet-icon-1">
	      <img src="http://i.imgur.com/VOfCdI9.png" alt="">
	    </div>
	    <div class="bullet-content">
	      <h2>Transfer Money</h2>
	      <p>Link paypal to your account to instantly transfer what you owe to your roommates.</p>
	    </div>
	  </li> 
	</ul>
</div>

