@import "bourbon";
@import "grid-settings";
@import "neat";
@import "style";
@import "pages";

label {
	width: 100px;
	display: inline-block;
}

.account-links {
	float: right;
	padding-right: 20px;
}

a {
	text-decoration: none;
}

.header {
	text-align: left;
}