.amount {
  text-align: right;
  width: 100px;
}

body {
	margin: 0;
}

.navigation-tools strong {
	color: white;
}

// label {
// 	width: 100px;
// 	display: inline-block;
// }

// .account-links {
// 	float: right;
// 	padding-right: 20px;
// }

// a {
// 	text-decoration: none;
// }

// .header {
// 	text-align: left;
// }